%ol
  - post.comments.each do |comment|
    - if comment.abusive == false
      %li.post--short-size
        %em
          %p
            Posted #{time_ago_in_words(comment.created_at)} ago
            &nbsp
            = link_to 'up', vote_up_post_comment_path(post.id, comment.id, :value1 => 1), method: :post
            | Score: #{comment.votes_value}
            | All votes: #{comment.votes.count}
            | Abusive? #{comment.abusive}
            = link_to 'down', vote_up_post_comment_path(post.id, comment.id, :value1 => -1), method: :posts       
        %p By: #{current_user.name}
        %div
          = comment.body