.post--full-size  
  %h4 
    %em
      posted by: 
    = post.user
  %h2
    = post.title
    %small
      = post.friendly_date

  - if current_user.owner? post
    = link_to "edit", edit_post_path(post), class: 'post__button--edit'
    = link_to "delete", post, :method => :delete, :data => { :confirm => 'Are you sure you want to delete this post?' }, class: 'post__button--edit'


  .post__body
    = post.body    
  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'

  %br
  %br
  %hr
  %h4 Comments:
  = render 'comments/comment' 

  %br
  %h4 Add a comment:
  = render 'comments/form'
